USE [master]
GO
/****** Object:  Database [AGILPAGOS]    Script Date: 7/8/2025 23:37:12 ******/
CREATE DATABASE [AGILPAGOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AGILPAGOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AGILPAGOS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AGILPAGOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AGILPAGOS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AGILPAGOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AGILPAGOS]
GO
/****** Object:  Table [dbo].[transacciones_agilpagos]    Script Date: 7/8/2025 23:37:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[transacciones_agilpagos](
	[id_transaccion] [varchar](50) NOT NULL,
	[tipo] [int] NOT NULL,
	[numero_cuenta] [varchar](50) NOT NULL,
	[importe] [decimal](18, 2) NOT NULL,
	[fecha_operacion] [datetime] NOT NULL,
	[cvu] [varchar](50) NOT NULL,
	[observaciones] [varchar](50) NOT NULL,
	[fecha_registro] [datetime] NOT NULL CONSTRAINT [DF_transacciones_agilpagos_fecha_registro]  DEFAULT (getdate()),
 CONSTRAINT [PK_transacciones_agilpagos] PRIMARY KEY CLUSTERED 
(
	[id_transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
